<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.user.fortunesticks">

    <application
        android:allowBackup="true"
        android:icon="@drawable/letter123325"
        android:label="@string/app_name"
        android:roundIcon="@drawable/letter123325"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="TODO"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="aia-compat-api-min-version"
            android:value="1" />

        <activity android:name=".Mister_liu_picture" />
        <activity android:name=".screentable_display" />
        <activity android:name=".HeavenAndEarth" />
        <activity android:name=".Display_Csv_Text" />
        <activity android:name=".select_textActivity"></activity>
    </application>

</manifest>